.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto; 
    grid-gap: 1rem;
    margin-left: 0.5%;
    padding-bottom: 2%;   
}

.botones{
    display: flex;
    justify-content: space-around;
}
.home{
    background: var(--color-bg-dark);
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    overflow: hidden;
    
}


.fondo{

    background: var(--color-header);
    display: flex;    
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

}

.sortfilter{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 1%;
}

.sortfilter select option{
    padding: 3%;
}

select {
    cursor: pointer;
    box-shadow: none;
    background: #164e11;
    width: 8%;
    height: 4%;
    font-size: 0.8em;
    padding-top: 1em;
    padding-right: 1.26em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
}

.game{
    margin-top: 1%;
    margin-bottom: 2%;
}



.sortOrder {
    width: 13em;
    color: #0D2B0A;
    font-size: 15px;
    font-weight: 600;
    background-color: #ccc9c6;;
}

.text{
    color: #dbd3d3;
    font-size: 1em;
    text-align: center;
    letter-spacing: 1px;
    text-shadow: 2px 2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000, -2px -2px 0 #000000, 2px 0px 0 #000000, 0px 2px 0 #000000, -2px 0px 0 #000000, 0px -2px 0 #000000;
}



.reload {
    font-family: 'Poppins', sans-serif;
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 18px;
    background-color: #008542;
    color: #fff;
    text-shadow: 0 2px 0 rgb(0 0 0 / 25%);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 0;
    z-index: 1;
    user-select: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    white-space: unset;
    
    text-decoration: none;
    font-weight: 900;
    transition: all 0.7s cubic-bezier(0,.8,.26,.99);
   }
   
   .reload:before {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    transition: .7s cubic-bezier(0,.8,.26,.99);
    z-index: -1;
    background-color: var(--button-bg)!important;
    box-shadow: 0 -4px var(--button-shadow-dk) inset, 0 4px var(--button-shadow-lg) inset, -4px 0 var(--button-shadow-lgter) inset, 4px 0 var(--button-shadow-dk) inset;
   }
   
   .reload:after {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
    transition: .7s cubic-bezier(0,.8,.26,.99);
   }
   
   .reload:hover:before {
    box-shadow: 0 -4px rgb(0 0 0 / 50%) inset, 0 4px rgb(255 255 255 / 20%) inset, -4px 0 rgb(255 255 255 / 20%) inset, 4px 0 rgb(0 0 0 / 50%) inset;
   }
   
   .reload:hover:after {
    box-shadow: 0 4px 0 0 rgb(0 0 0 / 15%);
   }
   
   .reload:active {
    transform: translateY(4px);
   }
   
  .reload:active:after {
    box-shadow: 0 0px 0 0 rgb(0 0 0 / 15%);
   }

   .reload> img{
    margin-right: 4px;
   }



   @media (max-width:768px){
    .reload {
        font-size: 13px;
    }
    .sortOrder{
        margin-top: 10px;
    }

    .fondo{
        overflow-x: hidden;
    }
   .botones {
    display: flex;
    
    justify-content:space-around;
    margin-bottom: 1%;
   }
   
   .game{
    position: relative;
    
    margin-top: 1%;
   }
  }

  @media (max-width:420px){
    .sortfilter{
        flex-direction: column;
        align-items: center;
    }
    
  }