.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto; 
    grid-gap: 1rem;
    margin-left: 0.5%;
    padding-bottom: 2%;   
}

.home{
    background: #232631;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    padding: 20px;
}

.fondo{

    background: #232631;

}
.poke{
    background-color: #1C1D23;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    width: 10%;
    cursor: pointer;
    margin-left: 2%;
    margin-top: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.sortfilter{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1%;
}

.sortfilter select option{
    padding: 3%;
}

select {
    cursor: pointer;
    box-shadow: none;
    background: #1C1D23;
    width: 8%;
    height: 4%;
    font-size: 0.8em;
    padding-top: 1em;
    padding-right: 1.26em;
    padding-bottom: 1em;
    padding-left: 1em;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
}
