.buttons {
  --size: 32px;
  --margin: 6px;
  margin: 0 var(--margin);
  border-radius: 6px;
  border-color: #d3d3d3;
  background: #164e11;
  max-width: auto;
  min-width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0 6px;
  color: #797979;
}

.pagination{
  display: flex;
  justify-content: center;
}