.nav{
    height: 10vh;
    background-color: #1c231e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    
}