.nav{
    
    background-color: #1c231e;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding-left: 5%;
    padding-right: 5%;
    
}

@media (max-width:768px){
    .nav{
        padding: 0;
        flex-wrap: wrap;

    }
    .landinglink img {
        width: 75px;
    }
}

@media (max-width:350px){
    .nav{
        flex-direction: column;
        justify-content:center;
        flex-wrap: wrap;

    }
}