:root {
  --color-bg-dark: rgb(30, 2, 66);
  --color-nav: rgb(12, 0, 27);
  --color-header: rgb(19, 2, 41);

  --button-bg: #00773c;
  --button-shadow-dk: rgb(21 108 0 / 50%);
  --button-shadow-lg: rgb(100 253 31 / 99%);
  --button-shadow-lgter: rgb(100 253 31 / 50%);

  --game-correct: #3ea81e;
  --game-incorrect: #ff1749;

  --detail-bg: rgb(194, 198, 248);
  --bar-progress: rgb(41, 212, 55);

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
